wheel>=0.36.2
Click>=7.1.2

numpy
pandas
scipy
openpyxl>=3.0.5

scikit-learn
nltk

deprecation

torch
torchvision
matplotlib

fastai>=2.0.0

git+https://github.com/thanhhungqb/outside_collection.git

wandb
tabulate
